QToolBar {
    border-bottom: 1px solid #4D545B;
}

QListWidget::item:selected {
   background: #CBD8E1;
   color: black;
}

QLabel[accessibleName="running"] {
    background-color: #01721d;
    color : white;
    padding: 0.1ex;
    border-radius: 4px;
}

QLabel[accessibleName="waiting"] {
    background-color: #d8a413;
    color : white;
    padding: 0.1ex;
    border-radius: 4px;
}